.row{
    padding: 20px;
}

/*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 14%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(47 45 48);
        left: 3%;
        top: 116px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
    position: absolute;
    width: 12%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px rgb(34 25 37);
    left: 1%;
    top: 111px;
    }

}

/*etiqueta nombre*/
#nombre{
    font-size: xx-large;
    font-weight: bold;
    margin-top: -97%;
  
}

#titulo{
    font-size: xx-large;
    margin-top: auto;
    
}
#acerca{
    margin-top: 6%;
    position: absolute;
    
}
#descripcion{
    margin-top: 37px;
}