<div class="row">
    <tr *ngFor="let Acerca of acerca">
        <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2">
            <img src={{Acerca.imgA}} class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-0 col-sm-2 col-md-2 col-lg-8">
            <p id="nombre">{{Acerca.nombreA}}</p>
            <p id="titulo">{{Acerca.tituloA}}</p>
       
        
            <span>
                <h1>Acerca de mí</h1>
                <p id="descripcion">{{Acerca.descripcionA}}</p>
            </span>
         </div>
    </tr>
   
</div> 
