<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreHyS">Nombre de la habilidad</label>
                    <input type="text" class="form-control" id="nombreHyS" name="nombreHyS" [(ngModel)]="nombreHyS" required>
                </div>
                <div class="form-group">
                    <label for="descripcionHyS">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionHyS" name="descripcionHyS" [(ngModel)]="descripcionHyS" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                </div>
                <button class="btn btn-primary">
                    Agregar habilidad
                </button>
            </form>
        </div>
    </div>
</div>
