.row{
   padding: 20px;
}


#expe{
   margin-top: 5%;
}
#contenido{
   font-family: "Open Sans", sans-serif;
   color: #fff;
}
#edit{
   margin-left: 70%;
}
#borrar{
   margin-left: 79%;
}

h1{
   margin-top: 13%;
}
h3{
   margin-top: 8%;
}
