<div class="container">
    <div class="row">

        <h1 class="fw-bold">Proyectos realizados</h1>
        <div class="col-lg-2">
            <button type="button" id="new" class="btn btn-dark" routerLink="/nuevopro" *ngIf="isLogged">
                Nuevo Proyecto
            </button>
        </div>
        <tr *ngFor="let Proyecto of prolab" id="contenido">

            <div id="project-cards" class="col-lg-12 project-cards">
                <div class="card">
                    <div class="card-img-container">
                        <img src={{Proyecto.imgPro}} alt="ImagenP" class="card-img-top">

                    </div>
                    <div class="card-body section-info">
                        <div class="item-title mb-2 d-flex justify-content-between align-items-center">
                            <h5 class="card-title">{{Proyecto.nombrePro}}</h5>
                            <td *ngIf="isLogged">
                                <button class="btn btn-light" id="edit" routerLink="/editpro/{{Proyecto.id}}">
                                    <i class="bi bi-pencil-fill"></i> EDITAR</button>
                            </td>
                            <td *ngIf="isLogged">
                                <button class="btn btn-danger" id="borrar" (click)="delete(Proyecto.id)">
                                    <i class="bi bi-trash-fill"></i> BORRAR</button>
                            </td>
                        </div>
                        <p class="card-text">{{Proyecto.descripcionPro}}</p>
                        <a href="https://myportfolioap-8f133.web.app/"
                            target="_BLANK" class="btn btn-outline-info">Live Demo</a>
                        <a href="https://github.com/FanyDmes/PortfolioEstefaniaDaumes/blob/main/Front-End-Angular/src/index.html" target="_BLANK" class="btn btn-outline-secondary">Repositorio</a>
                    </div>
                </div>
            </div>

        </tr>


    </div>
</div>