<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" class="img-fluid ap-logo"id="logAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/estefan%C3%ADa-daumes-417916212/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://github.com/FanyDmes"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://twitter.com/fanydaumes"><img src="../../../assets/twitter.png" id="twitter"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>
