<div class="row">
    <div class="container">
        <tr *ngFor="let Logo of logo" id="contenido">
            <div class="logo">
                <img src="../../../assets/APLogo.png" id="logoAP">
            </div>
            <div class="redes">
                <a href=""><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href=""><img src="../../../assets/github.png" id="github"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR
                    SESION</button>
            </div>
        </tr>
        
    </div>
</div>