/*ESTILOS GLOBALES*/

:root {

    --dark: #100414;
    --light: #a8a9b4;
    --grey: #2c2f3f;
    --blue: #8214dd;
    --white: #fff;
}

html {
    scroll-behavior: smooth;    
}

body {
    background-color: var(--dark);
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    color: #fff;
  
}

p {
    font-family: "Open Sans", sans-serif;
    color: #fff;
   
}
