.row{
    padding: 20px;
}
#edu{
    margin-top: 3%;
}
#contenido{
    font-family: "Open Sans", sans-serif;
    color: #fff;  
}
#edit{
    margin-left: 110%;
}
#borrar{
    margin-left: 87%;
}
h1, h3{
    margin-top: 5%;
}